@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Linden+Hill);

p h1 h2 h3 h4 {
    line-height: 30px;
}

a {text-decoration: none; background-color: none; color:white;}

.Navbar{
	height:100px;
	background-color: #999999;
}

.Navbar ul{
	float: right;
}

.Navbar li{
	float: left;
	width: auto;
	padding-right: 20px;
	padding-top: 25px;
	font-family: Linden Hill;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.Navbar li a:hover{
    background: #333333;
    color: white;
}

.container{
	width: 80%;
	margin: 0 auto;
	}

.main{
	height: 520px;
	background: url(mainpic.png) no-repeat top left;
	background-size: cover;
	text-align: center;
	}

.main h2{
	padding-top: 15%;
	font-size: 350%;
	margin: 10px;
	color: white;
	text-shadow: 2px 2px 2px #000;
}

.main h4{
	text-align: right;
	font-size: 150%;
	text-indent: -6000px;
	color: white;
	text-shadow: 2px 2px 2px #000;
}

.sectionbreak{
	height: 30px;
	background-color: white;
	clear: left;
}

.AboutAdventure{
	height: 120px;
	}

.AboutAdventure h2
{
	font-size: 170%;
	font-family: Lobster;
	margin-top: 20px;
	color: #A35200; 
	}

.AboutAdventure p{
	font-family: museo sans;
line-height: 20px;
}
}

.Month{
	height: 150px;
}

.Month h2
{
	font-size: 170%;
	font-family: Lobster;
	color: #A35200; 
	}

.Month ul{
	float: left;
	text-indent: 35px;
	color: white;
}

.Month li{
	float:right;
	background-color: #CC6600;
	border-radius: 20px;
	height: 30px;
	width: 100px;
	margin: 35px;
	color: white;
	padding-top: 10px;
}

.Month li a:hover{
    color: black;
}

.Report
{
	height: 200px; 
	clear: left;
	}

.Report h2
{
	font-size: 170%;
	font-family: Lobster;
	margin-top: 20px;
	color: #A35200; 
	}

.statsbar{
	height: 25px;
	margin: 0 auto;
	background: linear-gradient( to right, #FFD119, white); 
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.statsbar ul{
	float: left;
}

.statsbar li{
	float: right;
	padding-right: 70px;
	padding-left: 10px;
	font-weight: bold;
	font-family: Linden Hill;
}

.Report p{
font-family: museo sans;
line-height: 20px;
}